html{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    border-right: 100px solid #0E0E0E;
    border-left: 100px solid #0E0E0E;
    background: #262e38;
    display:block;
    margin: 0px;
        
}
.header {   
    background: #1B2027;
    background: #0E0E0E ;
    color: white;
    display:flex;   
    justify-content: space-evenly;
}
.header a {
    color: white;
    text-decoration: none;
}
.logo{
    resize: both;
    padding-top: 30%;
    padding-bottom: 20%;
}

.menu{
    display: flex;
    justify-content: center;
    margin: 7% 0;
  
}
.element-format{
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 0% 30%;
    
    
}
.element{
    display: flex;
    align-self: center;
    border-collapse: collapse;
    padding: 0% 30%;
    white-space:nowrap;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One',sans-serif, Times, serif;
}
h1{
    color: white;
    font-size: 40px;
    line-height: 1.5em;
}
h1 strong{
    color: #0061F6;
}   
.hero{
    display: flex;
    height: 500px;
    border-top: 15px solid #046E8F;
    background-color: #262e38;
    background-image: url(./facundo.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: right;

}
.texto_presentacion{
    
}
.portfolio{
    display: block;
    border-top: 15px solid #046E8F;
    border-bottom: 15px solid #046E8F;
    background-color: #262e38;
    padding: 0 2%;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.articulo_portafolio{
    display: flex;
    align-items: center;
}

.texto_articulo_portafolio{
    display: block;
    padding-left: 1%;
}
.texto_articulo_portafolio h3 {
    color: white;
    font-family: 'Open Sans';
    font-size: 28px;
}
.texto_articulo_portafolio h5 {
    color: white;
    font-weight: normal;
}
.texto_articulo_portafolio h5 strong{
    color: #0061F6;
}
.texto_articulo_portafolio p{
    color: white;
    text-decoration: none;
}
.texto_articulo_portafolio p strong{
    color: #0061F6;
}
.contenedor_imagenes_portafolio{
    display: block;
}
.figure_sistema_deportivo1, .figure_sistema_deportivo2{
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 0;
    margin-top: 0;
}
.imagen_sistema_deportivo1{
    width: 400px;
}

.imagen_sistema_deportivo2{
    width: 400px;
}
::marker {
    color: #0E0E0E;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px    ;
    text-align: start;
    text-align-last: start;
}