html{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background: #0E0E0E;
    border-right: 30px #0E0E0E solid;
    border-left: 30px #0E0E0E solid;
    display:block;
    /* width: 1146px; */
    margin: 0 auto;
        
}
.header {   
    background: #1B2027;
    background: #0E0E0E ;
    color: white;
    display:flex;   
    justify-content: space-evenly;
}
.wrapper_header{
    margin: 0 auto;
    display:inherit;   
    justify-content: inherit;
    align-items: inherit;
}
.header a {
    color: white;
    text-decoration: none;
}
.logo{
    resize: both;
    padding-top: 30%;
    padding-bottom: 20%;
}

.menu{
    display: flex;
    justify-content: center;
    margin: 7% 0;
  
}
.element-format{
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 0% 30%;
    
    
}
.element{
    display: flex;
    align-self: center;
    border-collapse: collapse;
    padding: 0% 30%;
    white-space:nowrap;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One',sans-serif, Times, serif;
}
h1{
    color: white;
    font-size: 40px;
    line-height: 1.5em;
}
h1 strong{
    color: #0061F6;
}   
.hero{
    /* height: 500px; */
    border-top: 15px solid #046E8F;
    background-color: #262e38;
    /* background-image: url(./facundo.jpg); */
    /* background-size: 400px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.wrapper_hero{
    margin: 0 auto;
    display:inherit;   
    justify-content: inherit;
    align-items: inherit;
}
.hero_image{
    object-fit: cover;
}
.texto_presentacion{
    padding-left: 2%;
}
.portfolio{
    display: flex;
    flex-direction: column;
    border-top: 15px solid #046E8F;
    border-bottom: 15px solid #046E8F;
    background-color: #262e38;
    padding: 0 2%;
}
.wrapper_portfolio{
    margin: 0 auto;
    display:inherit;   
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.articulo_portafolio{
    display: flex;
    align-items: center;
    padding-bottom: 51px;
}

.texto_articulo_portafolio{
    display: block;
    padding-left: 1%;
}
.texto_articulo_portafolio h3 {
    color: white;
    font-family: 'Open Sans';
    font-size: 28px;
}
.texto_articulo_portafolio h5 {
    color: white;
    font-weight: normal;
}
.texto_articulo_portafolio h5 strong{
    color: #0061F6;
}
.texto_articulo_portafolio p{
    color: white;
    text-decoration: none;
}
.texto_articulo_portafolio p strong{
    color: #0061F6;
}
.contenedor_imagenes_portafolio{
    display: block;
}
.figure_sistema_deportivo{
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 0;
    margin-top: 0;
}
.imagen_sistema_deportivo{
    width: 400px;
    border-radius: 1%;
    border: 10px;
    border-color: black;
}
.figure_sistema_logistica{
    margin-bottom: 0;
    margin-left: 12%;
    margin-right: 0;
    margin-top: 0;
}
.imagen_sistema_logistica{
    width: 600px;
}
.experiencia{
    display: flex;
    flex-direction: column;
    border-bottom: 15px solid #046E8F;
    background-color: #262e38;
    padding: 0 2%;
}
.wrapper_experiencia{
    margin: 0 auto;
    display:inherit;
    flex-direction: inherit; 
}
.titulo_experiencia{
    margin: 0 0;
    padding-top: 2%
}
.texto_articulo_experiencia h3{
    color: white;
    font-family: 'Open Sans';
    font-size: 24px;
}
.texto_articulo_experiencia h5{
    color: white;
    font-weight: normal; 
}
.texto_articulo_experiencia p{
    color: white;
    text-decoration: none;
}
.texto_articulo_experiencia h5 strong, p strong{
    color: #0061F6;
}
.contacto{
    padding: 2% 1%;
    display: flex;
    justify-content:space-evenly;
    border-bottom: 15px solid #046E8F;  
    background-color: #262e38;
}
.form{
    display: block;
}
form{
    display: flex;
    justify-content:center; 
}
form label{
    padding-right: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    justify-self: flex-start;
    white-space:nowrap;
}
#email_text{
    vertical-align: middle;
}
#email_button{
    vertical-align: middle;
}
.social1{
    justify-self: flex-start;
    display: inline-block;
}
.social2{
    justify-self: flex-end;
    display: inline-block;
}
.social-instagram{
    display: block;
    background-image: url('./instagram.svg');
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}
.social-github{
    display: block;
    background-image: url('./github.svg');
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}
footer{
    background: #0E0E0E;
    display: flex;
    align-items: center;
    justify-content: center;
}
::marker {
    color: #0E0E0E;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px;
    text-align: start;
    text-align-last: start;
}